# Build the book and upload it to GitHub Artifacts for inspection in a PR
name: build

# Run on every pull request
on:
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/*.md') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        pip install jupyter-book


    # Build the book
    - name: Build the book
      run: |
        jupyter-book build .

    # Upload artifact
    - uses: actions/upload-artifact@v2
      with:
        name: html_docs
        path: ./_build/html
