# Build the book and upload it to GitHub Artifacts for inspection in a PR
name: build

# Run on every pull request
on:
  pull_request:
    branches: '*'
env:
  BASE_URL: /${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.x

    - uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/*.md') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    # Install uv for running the redirect script
    - name: Install uv
      uses: astral-sh/setup-uv@v4

    # Build the site
    - name: Build the MyST site
      run: |
        uv pip install nox  --system
        nox -s docs
        nox -s redirects

    # Upload artifact
    - uses: actions/upload-artifact@v4
      with:
        name: html_docs
        path: ./docs/_build/html
