# Deploy the live documentation to our GitHub Pages site
name: deploy

# Only run this when the master branch changes
on:
  push:
    branches:
    - master

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy:
    runs-on: ubuntu-latest

    # So that we can write to `gh-pages`
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/*.md') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        pip install jupyter-book

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.5.9
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html
