# Deploy the live documentation to our GitHub Pages site
name: deploy

# Only run this when the master branch changes
on:
  push:
    branches:
    - main
env:
  BASE_URL: /${{ github.event.repository.name }}

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy:
    runs-on: ubuntu-latest

    # So that we can write to `gh-pages`
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.x

    - uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/*.md') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    # Install uv for running the redirect script
    - name: Install uv
      uses: astral-sh/setup-uv@v4

    # Build the site
    - name: Build the MyST site
      run: |
        uv pip install nox --system
        nox -s docs
        nox -s redirects

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.5.9
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
